@font-face {
  font-family: "IranianSansBold";
  src: url("./assets/fonts/iransans/IranianSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IranianSans";
  src: url("./assets/fonts/iransans/IranianSansRegular.ttf") format("truetype"),
    url("./assets/fonts/iransans/IRANSans-web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


